[user]
	name = calmhlynn
    email = barca105@naver.com
	signingkey = 913FBD0B6CDFCAFE8FB80C8FE201D1FA43538FCC
[core]
	editor = nvim
	excludesfile = ~/.gitexclude
	fscache = yes
	preloadindex = yes
	autocrlf = no
	quotepath = no
	precomposeunicode = yes
[init]
	defaultBranch = main
[log]
	date = iso8601
[color]
	ui = auto
[diff]
	renames = copies
	algorithm = histogram
	submodule = log
[branch]
	sort = committerdate
[fetch]
	prune = yes
	prunetags = true
	fsckobjects = true
[transfer]
	fsckobjects = true
[receive]
	fsckObjects = true
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autostash = true
	autosquash = true
[merge]
	conflictstyle = zdiff3
[commit]
	verbose = true
	gpgsign = yes
[tag]
	gpgsign = true
[rerere]
	enabled = true
[stash]
	showPatch = true
[status]
	showStash = true
	submoduleSummary = true
[submodule]
	fetchJobs = 0
	recurse = true
[help]
	autocorrect = prompt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	# git g
	#
	# Git graph with signature info
	g = "log --graph --pretty='format:%C(auto)%h%d %s%x1b[38;5;022m% GS %x1b[38;5;239m%cr%x1b[0m'"
