[include]
	path = ~/.gitconfig.local
[core]
	editor = nvim
	excludesfile = ~/.gitexclude
	fscache = yes
	preloadindex = yes
	autocrlf = no
	quotepath = no
	precomposeunicode = yes
	pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    syntax-theme = KanagawaDragon
    side-by-side = true
[merge]
    conflictStyle = zdiff3
[init]
	defaultBranch = main
[diff]
	renames = copies
	algorithm = histogram
	submodule = log
[branch]
	sort = committerdate
[fetch]
	prune = yes
	prunetags = true
	fsckobjects = true
[transfer]
	fsckobjects = true
[receive]
	fsckObjects = true
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autostash = true
	autosquash = true
[commit]
	verbose = true
[rerere]
	enabled = true
[stash]
	showPatch = true
[status]
	showStash = true
	submoduleSummary = true
[submodule]
	fetchJobs = 0
	recurse = true
[help]
	autocorrect = prompt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
    st       = status -sb
    ss       = status -s
    br       = branch
    co       = checkout
    nb       = "!_() { git checkout -b \"$1\"; }; _"
    mb       = "!_() { git branch --merged | grep -v '\\*\\|main\\|master' | xargs git branch -D; }; _"

    ca       = commit -a
    amend    = commit --amend --no-edit

    g        = "log --graph --decorate --all \
				--pretty='format:%C(auto)%h%d %s %C(brightgreen)%an %x1b[38;5;239m%cr%x1b[0m'"

    ds       = diff --staged
    dc       = diff

    ia       = add -p
    fco      = "!_() { git branch --all | fzf --ansi --preview 'git log --color=always -n50 --pretty=format:\"%Cgreen%h%Creset %s\" {}' | sed 's/.* //' | xargs git checkout; }; _"
    ff       = "!_() { git ls-files | fzf; }; _"

    up       = "!_() { git pull --rebase && git push; }; _"

    ri       = rebase -i
    continue = rebase --continue
    skip     = rebase --skip
    abort    = rebase --abort

    stg      = stash
    stl      = stash list
    stp      = stash pop
    fs       = "!_() { git stash list | fzf; }; _"
    fsp      = "!_() { git stash list | fzf | awk '{print $1}' | xargs git stash apply; }; _"

    clean    = clean -fd
    undo     = reset --soft HEAD^
    hard     = reset --hard

    cp       = cherry-pick
    tagg     = "!_() { git tag -a \"$1\" -m \"$2\"; }; _"
    grep     = grep --color -n
    rb       = remote -v
    tree     = "!_() { git ls-tree --name-only -r HEAD | sed 's|[^/]*/|   |g'; }; _"
[user]
	email = barca105@naver.com
	name = calmhlynn
