theme "kanagawa-dragon"
themes {
    kanagawa-dragon {
        fg "#c5c9c5"
        bg "#181616"
        red "#c4746e"
        green "#8a9a7b"
        yellow "#c4b28a"
        blue "#8ba4b0"
        magenta "#a292a3"
        orange "#b6927b"
        cyan "#8ea4a2"
        black "#0d0c0c"
        white "#C8C093"
    }
}
themes {
    kanagawa {
        fg "#DCD7BA"
        bg "#1F1F28"
        red "#C34043"
        green "#76946A"
        yellow "#FF9E3B"
        blue "#7E9CD8"
        magenta "#957FB8"
        orange "#FFA066"
        cyan "#7FB4CA"
        black "#16161D"
        white "#DCD7BA"
    }
}
